/* ==========================================
   STACKLY FORGOT PASSWORD
========================================== */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Outfit',sans-serif;
}

html,
body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    position:relative;
    padding:0;

    background:linear-gradient(
        135deg,
        #eef4ff 0%,
        #f8f2ff 35%,
        #fef7fb 70%,
        #edf5ff 100%
    );
}

/*==================================
BACKGROUND
===================================*/

.background{

    position:absolute;

    inset:0;

    overflow:hidden;

}

.blob{

    position:absolute;

    border-radius:50%;

    filter:blur(35px);

}

.blob1{

    width:520px;

    height:520px;

    left:-120px;

    bottom:-180px;

    background:
    radial-gradient(circle,
    rgba(255,120,170,.55),
    transparent 70%);

}

.blob2{

    width:470px;

    height:470px;

    right:-120px;

    top:-150px;

    background:
    radial-gradient(circle,
    rgba(110,170,255,.45),
    transparent 70%);

}

.circle{

    position:absolute;

    border-radius:50%;

}

.circle1{

    width:170px;

    height:170px;

    left:120px;

    bottom:90px;

    background:
    linear-gradient(
    135deg,
    #ff9cc8,
    #ff72b2);

}

.circle2{

    width:180px;

    height:180px;

    right:120px;

    top:90px;

    background:
    linear-gradient(
    135deg,
    #82b9ff,
    #5a97ff);

}

.wave{

    position:absolute;

    width:100%;

    height:100%;

}

.wave1{

    opacity:.55;

}

.wave2{

    opacity:.35;

}

/*==================================
CARD
===================================*/

.login-card{
    width:520px;
    padding:42px;
    border-radius:30px;
    position:relative;

    background:rgba(255,255,255,.18);
    backdrop-filter:blur(25px);
    -webkit-backdrop-filter:blur(25px);

    border:1px solid rgba(255,255,255,.45);

    box-shadow:
        0 25px 60px rgba(31,38,135,.18),
        inset 0 1px 1px rgba(255,255,255,.45);

    animation:none;
}

/*==================================
LOGO
===================================*/

.logo{

    display:flex;

    align-items:center;

    gap:18px;

    margin-bottom:30px;

}

.logo-icon{

    width:72px;

    height:72px;

    border-radius:20px;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
    linear-gradient(
    135deg,
    #8B1E3F,
    #B3275A);

    color:#fff;

    font-size:30px;

    box-shadow:
    0 18px 35px rgba(161,40,74,.28);

}

.logo h2{

    color:#8B1E3F;

    font-size:34px;

    font-weight:800;

}

.logo p{

    color:#777;

    font-size:14px;

}

/*==================================
HEADING
===================================*/

.heading{

    margin-bottom:35px;

}

.heading h1{

    color:#8B1E3F;

    font-size:38px;

    margin-bottom:10px;

}

.heading p{

    color:#666;

    line-height:1.7;

    font-size:15px;

}


/* ==========================================
   FORM
========================================== */

.form-group{
    margin-bottom:28px;
}

.form-group label{
    display:block;
    margin-bottom:10px;
    font-size:15px;
    font-weight:600;
    color:#8B1E3F;
}

.input-box{

    display:flex;
    align-items:center;

    width:100%;
    height:60px;

    padding:0 20px;

    border-radius:18px;

    background:rgba(255,255,255,.55);

    border:1px solid rgba(255,255,255,.85);

    transition:.35s ease;

    box-shadow:
    0 10px 25px rgba(0,0,0,.04);

}

.input-box:hover{

    transform:translateY(-2px);

    box-shadow:
    0 15px 30px rgba(0,0,0,.08);

}

.input-box:focus-within{

    border:1px solid #9d2b51;

    box-shadow:
    0 0 0 5px rgba(157,43,81,.12);

}

.input-box i{

    color:#8B1E3F;

    font-size:18px;

}

.input-box input{

    flex:1;

    height:100%;

    border:none;

    outline:none;

    background:transparent;

    padding-left:15px;

    font-size:16px;

    color:#444;

}

.input-box input::placeholder{

    color:#9a9a9a;

}

/* ==========================================
   BUTTON
========================================== */

.login-btn{

    width:100%;

    height:60px;

    border:none;

    border-radius:18px;

    cursor:pointer;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:12px;

    font-size:17px;

    font-weight:700;

    color:#fff;

    background:
    linear-gradient(
    135deg,
    #8B1E3F,
    #B3275A);

    box-shadow:
    0 20px 35px rgba(161,40,74,.30);

    transition:.35s;

}

.login-btn:hover{

    transform:translateY(-4px);

    box-shadow:
    0 28px 45px rgba(161,40,74,.38);

}

.login-btn i{

    transition:.3s;

}

.login-btn:hover i{

    transform:translateX(6px);

}

#message{

    min-height:20px;

    text-align:center;

    margin-top:18px;

    font-size:15px;

    color:#8B1E3F;

}

/* ==========================================
   BACK TO LOGIN
========================================== */

.signup{

    margin-top:30px;

    text-align:center;

    font-size:15px;

    color:#666;

}

.signup a{

    color:#8B1E3F;

    text-decoration:none;

    font-weight:700;

}

.signup a:hover{

    text-decoration:underline;

}



/* ==========================================
   GLASS ANIMATIONS
========================================== */

.login-card{

    animation:cardFloat 5s ease-in-out infinite;

    overflow:hidden;

}

@keyframes cardFloat{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-8px);
    }

    100%{
        transform:translateY(0);
    }

}

/* ==========================================
   BACKGROUND ANIMATION
========================================== */

.blob1,
.blob2{

    animation:blobMove 12s ease-in-out infinite;

}

.blob2{

    animation-delay:3s;

}

@keyframes blobMove{

    0%{
        transform:translate(0,0) scale(1);
    }

    25%{
        transform:translate(-25px,18px) scale(1.05);
    }

    50%{
        transform:translate(20px,-18px) scale(.95);
    }

    75%{
        transform:translate(-15px,12px) scale(1.02);
    }

    100%{
        transform:translate(0,0) scale(1);
    }

}

/* ==========================================
   GLASS SHINE EFFECT
========================================== */

.login-card::before{

    content:"";

    position:absolute;

    top:-120%;

    left:-65%;

    width:60%;

    height:250%;

    background:linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,.45),
        transparent
    );

    transform:rotate(20deg);

    transition:.8s;

}

.login-card:hover::before{

    left:140%;

}

/* ==========================================
   INPUT EFFECT
========================================== */

.input-box input{

    transition:.3s;

}

.input-box input:focus{

    transform:translateX(2px);

}

/* ==========================================
   BUTTON RIPPLE
========================================== */

.login-btn{

    position:relative;

    overflow:hidden;

}

.login-btn::after{

    content:"";

    position:absolute;

    width:0;

    height:0;

    border-radius:50%;

    background:rgba(255,255,255,.25);

    transition:.5s;

}

.login-btn:hover::after{

    width:420px;

    height:420px;

}

/* ==========================================
   RESPONSIVE
========================================== */

@media(max-width:992px){

    .login-card{

        width:480px;

        padding:35px;

    }

    .heading h1{

        font-size:34px;

    }

}

@media(max-width:768px){

    body{

        padding:25px;

        overflow:auto;

    }

    .login-card{

        width:100%;

        max-width:500px;

        padding:30px;

    }

    .logo{

        flex-direction:column;

        text-align:center;

    }

    .heading{

        text-align:center;

    }

    .circle1{

        width:130px;

        height:130px;

        left:40px;

        bottom:60px;

    }

    .circle2{

        width:140px;

        height:140px;

        right:40px;

        top:60px;

    }

}

@media(max-width:480px){

    body{

        padding:15px;

    }

    .login-card{

        padding:22px;

        border-radius:24px;

    }

    .logo-icon{

        width:60px;

        height:60px;

        font-size:24px;

    }

    .logo h2{

        font-size:26px;

    }

    .logo p{

        font-size:13px;

    }

    .heading h1{

        font-size:28px;

    }

    .heading p{

        font-size:14px;

    }

    .input-box{

        height:56px;

    }

    .login-btn{

        height:56px;

        font-size:16px;

    }

    .signup{

        font-size:14px;

    }

}

/* ==========================================
   SCROLLBAR
========================================== */

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-thumb{

    background:#cda4b6;

    border-radius:20px;

}

::-webkit-scrollbar-track{

    background:#f5f5f5;

}




/* ===============================
   OR Divider
================================= */

.or-divider{

    position:relative;

    text-align:center;

    margin:22px 0;

}

.or-divider::before{

    content:"";

    position:absolute;

    left:0;

    top:50%;

    width:100%;

    height:1px;

    background:#e5e5e5;

}

.or-divider span{

    position:relative;

    background:rgba(255,255,255,.95);

    padding:0 18px;

    color:#8B1E3F;

    font-size:14px;

    font-weight:600;

}


/* ==========================================
   PHONE INPUT
========================================== */

.phone-box{

    display:flex;
    align-items:center;

    width:100%;

    height:60px;

    border-radius:18px;

    overflow:hidden;

    background:rgba(255,255,255,.55);

    border:1px solid rgba(255,255,255,.85);

    box-shadow:0 10px 25px rgba(0,0,0,.04);

    transition:.35s;
}

.phone-box:hover{

    transform:translateY(-2px);

    box-shadow:0 15px 30px rgba(0,0,0,.08);

}

.phone-box:focus-within{

    border:1px solid #9d2b51;

    box-shadow:0 0 0 5px rgba(157,43,81,.12);

}

/* Country Code */

.country-code{

    width:110px;

    height:100%;

    border-right:1px solid rgba(0,0,0,.08);

    display:flex;

    align-items:center;

    justify-content:center;

    background:rgba(255,255,255,.25);

}

.country-code select{

    width:100%;

    height:100%;

    border:none;

    outline:none;

    background:transparent;

    font-size:15px;

    font-weight:600;

    color:#8B1E3F;

    cursor:pointer;

    padding-left:12px;

}

/* Phone Input */

.phone-box input{

    flex:1;

    height:100%;

    border:none;

    outline:none;

    background:transparent;

    padding:0 18px;

    font-size:16px;

    color:#444;

}

.phone-box input::placeholder{

    color:#9b9b9b;

}


.blob1{

    opacity:.75;

    filter:blur(45px);

}

.blob2{

    opacity:.65;

    filter:blur(45px);

}


.circle1{

    opacity:.45;

}

.circle2{

    opacity:.45;

}



.login-card::after{

    content:"";

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:100%;

    border-radius:30px;

    background:linear-gradient(
        135deg,
        rgba(255,255,255,.30),
        transparent 45%,
        rgba(255,255,255,.08)
    );

    pointer-events:none;

}


/* Popup */

.popup-overlay{
    position:fixed;
    inset:0;
    display:none;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.45);
    backdrop-filter:blur(5px);
    z-index:99999;
}

.popup-box{
    width:380px;
    background:#fff;
    border-radius:20px;
    padding:30px;
    text-align:center;
    animation:popup .3s ease;
}

@keyframes popup{
    from{
        opacity:0;
        transform:scale(.8);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}

.popup-icon{
    width:70px;
    height:70px;
    border-radius:50%;
    margin:auto auto 18px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    font-size:34px;
    background:#28a745;
}

.popup-box button{
    margin-top:20px;
    width:120px;
    height:45px;
    border:none;
    border-radius:10px;
    background:#8B1E3F;
    color:#fff;
    cursor:pointer;
}